<div class="container">
  <h1>User Table</h1>
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>S.N.</th>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.age }}</td>
        <td>
          <button
            class="btn btn-outline-dark btn-sm"
            (click)="onNavigateById(data.id, data.name, data.address, data.age)"
          >
            View
          </button>
          &nbsp;
          <button
            class="btn btn-outline-dark btn-sm"
            (click)="
              onNavigateByUserIdAndClassId(
                data.id,
                data.id,
                data.name,
                data.address,
                data.age
              )
            "
          >
            Class View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
